/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 420px;
        height: 490px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 600px;
        height: 720px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 900px;
        height: 1080px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 900px;
        height: 1080px;
    }
}

body {
    background: black;
    margin: 0px;
}

@font-face {
    font-family: "PressStart2P";
    src: url("assets/PressStart2P-Regular.ttf");
    style: "normal";
    weight: "400";
}
